@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в Авионера!</h1>
    <p>Започнете да разглеждате оферти още сега.</p>
    <a class="btn btn-primary" asp-controller="Offer" asp-action="OfferBrowser">Към офертите</a>
</div>
